<div class= box>
    <button mat-button routerLink="/vista-cards" routerLinkActive="active" >
        <mat-icon aria-hidden="false" aria-label="Example home icon">menu</mat-icon>
        Vista Card
    </button>
    <button mat-button routerLink="/vista-list" routerLinkActive="active">
        <mat-icon aria-hidden="false" aria-label="Example home icon">menu</mat-icon>
        Lista
    </button>
    <button mat-button routerLink="/vista-add" routerLinkActive="active">
        <mat-icon aria-hidden="false" aria-label="Example home icon">add_circle_outline</mat-icon>
        Adicionar
    </button>
  
</div>
<router-outlet></router-outlet>


